body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #C9D6FF, #E2E2E2);
  }
  
  
  .login-container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  .login-box {
    background-color: rgba(255, 250, 170, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px #F00;
    text-align: center;
    width: 90%;
    max-width: 400px;
    transition: transform 0.3s ease;
  }
  
  .login-box:hover {
    transform: translateY(-5px);
  }
  
  .login-title {
    color: #F00;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #fff0cc;
    color: #020710;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .login-form input::placeholder {
    color: #999;
  }
  
  .login-form input:focus {
    outline: none;
    background-color: #fff5dd;
    border: 1px solid #F00;
    box-shadow: 0 0 5px #F00;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #F00;
    color: #FFFAAA;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #BEFF99;
    color: #081120;
  }
  .welcome-text {
    margin-bottom: 20px;
  }
  
  .welcome-text h1 {
    font-size: 24px;
    color: #F00;
    margin-bottom: 10px;
  }
  
  .welcome-text p {
    font-size: 16px;
    color: #444;
  }
  