body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #C9D6FF, #E2E2E2);
}


button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

button.primary {
  background-color: #35AAFA;
  color: white;
}

button.primary:hover {
  background-color: #2595e5;
}

button.success {
  background-color: #BEFF99;
  color: #081120;
}

input, select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0;
}


